# Database Migration Assistant for Azure Cosmos DB API for MongoDB

This notebook can be used to gather source environment details and assess incompatibilities while migrating from your native MongoDB instance to Azure Cosmos DB API for MongoDB.

**Please update the input parameter below for the assessment.** **This would be the source cluster endpoint against which you want to run the assessment.**

In [1]:
source_connection_string = ""

In [2]:
from source_mongodb import SourceMongoDB
source_mongodb = SourceMongoDB(endpoint=source_connection_string)

**The next cell gathers source environment info from the endpoint connection string provided.**

You may provide these details to the Microsoft points of contact for TCO calculation or migration discussions.

In [3]:
source_mongodb.get_environment_info()
source_mongodb.print_environment_info()

MongoDB version:  4.0.23
License Type:  Community

**The next cell gathers source workload info from the endpoint connection string provided, stores the info to csv and prints them in this notebook.**

Csv output files _workload\_database\_details.csv_ would be stored in same path as the notebook.

In [4]:
source_mongodb.get_workload_info()
source_mongodb.save_workload_info_to_csv()
source_mongodb.print_workload_info()

Workload database details:

Workload collection details: