# Database Migration Assistant for Azure Cosmos DB API for MongoDB

This notebook can be used to gather source environment details and assess incompatibilities while migrating from your native MongoDB instance to Azure Cosmos DB API for MongoDB.

**Please update the input parameter below for the assessment.** **This would be the source cluster endpoint against which you want to run the assessment.**

In [1]:
source_connection_string = ""

In [2]:
from source_mongodb import SourceMongoDB
source_mongodb = SourceMongoDB(endpoint=source_connection_string)

**Gather source environment info**

You may provide these details to the Microsoft points of contact for TCO calculation or migration discussions.

In [3]:
source_mongodb.get_environment_info()
source_mongodb.save_environment_info_to_csv()
source_mongodb.print_environment_info()

MongoDB version:  4.0.23
License Type:  Community
Is Sharded endpoint: No

**Gather source workload info**

Workload info gets stored in Csv output files _workload\_database\_details.csv_ and _workload\_collection\_details.csv_Â in the same path as the notebook.

In [4]:
source_mongodb.get_workload_info()
source_mongodb.save_workload_info_to_csv()
source_mongodb.print_workload_info()

Workload database details:

Workload collection details:

**Run assessment**

Here we run assessments for unsupported features, partially supported features and limit warnings for Cosmos DB API for MongoDB.  
We run checks for the most commonly observed scenarios in these categories.

In [5]:
source_mongodb.workload_info.assess_unsupported_features()
source_mongodb.workload_info.save_assessment_result_unsupported()

source_mongodb.workload_info.assess_partially_supported_features()
source_mongodb.workload_info.save_assessment_result_partially_supported()

source_mongodb.workload_info.assess_limits()
source_mongodb.workload_info.save_assessment_result_limits()

source_mongodb.workload_info.print_assessment_results()

Assessment for unsupported features begins...
Assessment for unsupported features completed. Some results were found and will be printed once all the assessments complete.
Assessment for partially supported features begins...
Assessment for partially supported features completed. Some results were found and will be printed once all the assessments complete.
Assessment for limits begins...
Assessment for limits completed. Some results were found.


Assessment results:

Zip together the outputs from the Database Migration Assistant.

In [6]:
source_mongodb.zip_dma_outputs()